.card-external {
	width: 22.3%;
	float: left;
	margin-right: 1rem;
	margin-left: 1rem;
	min-height: 200px;
}
@media (max-width:1080px) {
	.card-external {
		float: none;
		width: 100%;
		width: 100%;
	}
}