.card-text img {
	max-width: 100%;
}
#recipethumb,
#recipedetails {
	float: left;
}
#recipethumb {
	width: 25%;
}
#recipethumb img {
	padding: 5px;
	border: 1px solid #eee;
}
#recipedetails {
	margin-left: 4rem;
	width: 50%;
}
#recipedetails ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#recipedetails ul li {
	text-transform: capitalize;
	padding: 4px 6px;
}
#recipedetails ul > li:nth-of-type(odd) {
    background-color: #F8F9FA;
}
#bookmark {
	position: absolute;
    top: 0;
    right: 1rem;
}