#search-form {
	padding: 1rem;
	background-color: #eee;
	margin-bottom: 1rem;
	margin-top: 3rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #ccc;
	border-top: 0;
}
.show-search {
	display: block;
}
.hide-search {
	display: none;
}
a.hide-search-form {
	float: right;
}
.recipe-input {
	margin-bottom: 1rem;
}
.card-text img {
	max-width: 25%;
}