.container-main {
	padding-right: 0;
	padding-left: 0;
}
.jumbotron {
	background: url('https://kevleitch.github.io/plate-mate/assets/img/jt.png') no-repeat top center;
	background-size: cover;
	background-size:contain;
	padding-top: 30%;
	padding-bottom: 15%;
}